body {
    box-sizing: border-box;
    background-color: antiquewhite;  
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 1220px;
    margin: 2% 40% 0% 40%;
    box-shadow: 0 35px 55px 0 rgba(0, 0, 0, 0.3);
}

.left-colunm {
    min-width: 350px;
    background: #BF8BDC;
    flex-direction: column;
}

.right-colunm {
    min-width: 650px;
    background: #ffffff;
    flex-direction: column;
}

header img {
    border: 6px solid #ffffff;
    margin :20px 0px 0px 70px;
    border-radius: 50%;
}

.line {
    width: 320px;
    height: 5px;
    margin: 15px;
    background-color: #ffffff;
  }

.section {
    font: bold 24px Verdana, sans-serif; position: relative; color: #ffffff;
    padding: 0px 5px;
    margin: 5px;
}

.right-section {
    font: bold 24px Verdana, sans-serif; position: relative; color: #424242;
    padding: 5px;
    margin: 5px;
}

.main-text {
    font: bold 16px Verdana, sans-serif; color: #ffffff;
    text-align: left;
    line-height: 1.5;
}

.main-text-right {
    font: bold 16px Verdana, sans-serif; color: #424242;
    text-align: left;
    line-height: 1.5;
    margin: 20px;
}
.code-border {
    border: 4px solid color #424242;
    background-color: #424242;
    font-size: 14px;
    margin: 1px;
    padding: 20px;
    color: #ffffff;
    text-align: left;
}

.footer {
   display: flex;
   justify-content: space-between;
   padding: 15px;
   margin: 0% 40% 0% 40%;
   width: 970px;
   height: 30px;
   background-color: #424242;
}

.footer-rs {
    margin: 0px 180px 0px 100px;
    color: #ffffff;
}